@model MVC.Biblioteca.Models.EditoraViewModel
@{ Layout = null; }

<div class="grid_dados">
    <div class="row">
        <div class="col s1 offset-s11">
            <span class="flow-text">
                <a class="btn-floating btn-large waves-effect waves-light teal btn_voltar" title="Voltar" onclick="voltarForm()"><i class="material-icons">arrow_back</i></a>
            </span>
        </div>
    </div>

    <div class="row">
        <h5 id="tituloViewEdt">Cadastre uma nova editora</h5>
        <form class="col s12">
            <div class="row">
                <br />
                <div class="col s4 offset-s4" id="edt-div">
                    <input placeholder="ID da Editora" id="id_editora" type="text" name="id_editora" value="@Model.idEditora" required />
                    <label for="id_livro">ID da Editora</label>
                </div>
                <div class="col s4 offset-s4">
                    <input placeholder="Nome da Editora" id="nome_editora" type="text" name="nome_editora" value="@Model.nomeEditora" required />
                    <label for="nome_editora">Nome da Editora</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" id="btnSalvarEditora">
                Salvar
                <i class="material-icons right">save</i>
            </button>
        </form>

    </div>
</div>

<script>
    $(".btn_voltar").click(function () {
        $.get('@Url.Action("BuscarGrid", "Editora")').done(function () {
            $("#divContentEditoras").show();
            $(".grid_dados").hide();
            $("#btnNovaEditora").show();
            $(".btn_voltar").hide();
        }).fail(function (xhr) {
            alert(xhr.responseText);
        });
    });

    $("#btnSalvarEditora").click(function (e, idEditora, nomeEditora) {
        e.preventDefault;
        if (!$("#nome_editora").val()) {
            alert("É obrigatório o preenchimento de todos os campos!");
            return false;
        }
        $.post('@Url.Action("Post", "Editora")', {
            idEditora: $("#id_editora").val(),
            nomeEditora: $("#nome_editora").val()
        }).done(function () {
            
        }).fail(function (xhr) {
            xhr.responseText;
        });
    });
</script>

