
@{
    ViewBag.Title = "Editoras";
}

<h4>Editoras</h4>
<div class="container" id="divGridEditora">

    <div class="row">
        <div class="col s1 offset-s11">
            <span class="flow-text">
                <a class="btn-floating btn-large waves-effect waves-light teal" title="Novo" id="btnNovaEditora" onclick="buscarForm()"><i class="material-icons">library_add</i></a>
            </span>
        </div>
    </div>

   
    <div id="divContentEditoras">
        @*Html.Partial("_Grid")*@
    </div>

   
    <div id="divCadastroEditoras">
        @*@Html.Partial("_Dados")*@
    </div>

</div>


<script>
    
    var buscarGrid = (function buscar() {

        $.get('@Url.Action("BuscarGrid", "Editora")').done(function (data) {
            $("#divContentEditoras").html(data);
        }).fail(function (xhr) {
            alert(xhr.responseText);
        });

        return buscar;
    })();
    
    function buscarForm() {
        $.get('@Url.Action("BuscarForm", "Editora")').done(function (data) {
            $("#divCadastroEditoras").html(data);
            $("#divContentEditoras").hide();
            $(".grid_dados").show();
            $("#btnNovaEditora").hide();
            $("#id_editora").hide();
        }).fail(function (xhr) {
            alert(xhr.responseText);
        });
    }


</script>